*{margin:0;padding:0}
.Navbar{
     display:flex; 
     
    justify-content: space-between;
    background-color:#2c3033f5;
    padding: 10px 16px;
    margin-bottom: 16px;
    
}
/* .login{
    padding-left: 10px;
    height:80px;
    font-size:30px;
    
} */
.logo{
    display: inline-block;
    margin-bottom: 10px;
    color:white;
}
.login{
    border:1px solid white;
    border-radius: 20px;
    padding:10px;
    height: 100vh;
    color: white;
   
    
} 
/* .logo h1{
    display:inline-block;
} */
/* .logo a{
    display:inline;
    position: absolute;
    margin-right:0px;
    
} */
.navbar-menu{
    display:flex;
    list-style-type: none;
    gap:30px;
    margin: 0px;
    align-items: center;
    z-index: 1200;
    transition:all .4s linear;
}
.navbar-menu li a{
    text-decoration: none;
    color:white;    
}  
.details{
    display:flex;
    list-style-type: none;
    gap:30px;
    margin: 0px;
    align-items: center;
}

  
 /* a {
    box-shadow: inset 0 0 0 0 #54b3d6;
    color: #54b3d6;
    margin: 0 -.25rem;
    padding: 0 .25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out; 
  }
   a:hover {
    box-shadow: inset 100px 0 0 0 #54b3d6;
    color: white;
  }  */
   
  a{
    color: white;
    text-decoration: none;
  }
  body{
    background-color: rgba(19,18,24,255);
  }
  .card{
    display:inline-block;
    height:200px;
     width:200px; 
    color:white;
    margin:10px;
    border:1px solid white;
    text-align:center;
    border-radius: 10px;
    
  }
  /* .wrapper{
    display:inline-block;
    width: 250px;
    height: 250px;
  } */
  .cardimg{
  height: 100px;
  max-height: 250px;
  width: 200px;
  max-width: 250px;
  }
  .Go{
    position:relative;
    top:20px;
    border:1px dotted white;
    border-radius:10px;
  }
  .searchbox {
    width: 200px;
    height:30px;
    margin-left:5px;
    border:1px solid white;
    border-radius: 10px;
    background-color: white; 
    display:inline;
    font-family:Arial, FontAwesome;
}
 .flipCard{
  float:left;
  
} 
.flipbutton{
  margin-top:90px;
  margin-left:20px;
}
/* .flipbutton1{
  margin-top:120px;
  margin-left:30px;
} */
.inptext{
  margin: auto;
  width: 50%;
  padding: 10px;
}
.prcontent{
  color:white;
  margin-left: 20px;
}
.prcard{
  position:absolute;
  left:15%;
  text-decoration: solid;
  font-size: 20px;
}

.flip-container{
  display:grid;
  /* grid-template-areas: 'left center right'; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 30px;
  grid-gap: 30px;
  margin:8px;
  width: 240px;
  color:white;
} 
.item5{
  /* grid-column-start: 1;
  grid-column-end:1; */
  width:250px;
  height:150px;
  
  border-radius: 10%;
}
.item1{
  grid-column:1/4;
  
}
.item2{
  grid-column:1/3;
}
.item3{
  justify-content: end;
  width:100px;
}
.Balance{
  font-size: 15px;
}
.card-content{
  margin-left:20px;
}
.head{
  text-decoration: underline;
  margin-left: 10px;
}
.transaction-container{
  color:white;
}
.home-head{
 color:white;
 display:inline-block;
 width:100vw;
 /* text-align:center; */
  /* Center horizontally*/
 margin-top:2%;
 /* font-size:50px; */
}
.home-tagline{
  font-size:20px;
}
.getstarted{
  color:white;
}
/* .user{
  float:left;
}
.admin{
  float:right;
} */
.heading {
  text-align: center;
  font-size: 2em;
  color: #2d3436;
  margin: 20px 0 30px;
}

.card {
  border-radius: 25px;
  position: relative;
  padding: 25px 15px;
  background-color: #81ecec;
  margin: 50px 0;
  height: 200px;
  box-shadow: 0 2px 5px #ccc;
  text-align: left;
}

.top {
  border-radius: 25px 25px 0 0;
  height: 100px;
  width: 100%;
  background-color: #00cec9;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
}

.name {
  font-size: 2em;
  color: #2d3436;
  display: flex;
  flex: 1;
  margin: 10% 20px 0;
}

.card img {
  margin: 30px 20px 0 0;
}

.circle-img {
  border-radius: 50%;
  border: 7px solid #fff;
  width: 120px;
  height: 120px;
}

.bottom {
  margin-top: 120px;
}

.info {
  margin: 20px 0;
  color: #1a7e76;
}
.getstartedcards{
  position:absolute;
  left:30%;
  top:25%;
  text-decoration: solid;
  font-size: 20px;
}
.getstartedcontent{
  color:white;
  margin-left: 20px;
  text-align: center;
  font-size: 50px;
}
.getstartedname{
  text-align: center;
  margin-top:30px;
}

.home-image{
  float:left; 
  /* margin-left:10px; */
  margin-left: 0.75%;
  margin-top:10px;
  border-radius: 20px;
}
.home1{
  background-color:rgba(29,28,35,255);
  float:left;
  margin-top:10px;
  margin-left:10px;
  height: 466.285px;
  width:400px;
  border-radius: 20px;
}
.home2{
  background-color: #04AA6D;
  float:left;
  margin-top:10px;
  margin-left:10px;
  height: 466.285px;
  width:21%;
  border-radius: 20px;
}
.homeheadline{
  
  font-size: 50px;
  text-align: center;
}
/* th{
  text-align: center;
  
}

th{
  padding:20px;
  text-align: left;
}
td{
  padding:20px;
}
table {
  border-collapse: collapse;
  
} 
.tablelist{
  display:flex;
    list-style-type: none;
    gap:30px;
    margin: 20px;
    align-items: center;
    z-index: 1200;
    transition:all .4s linear;
}
.tablelists{
  display:flex;
    list-style-type: none;
    gap:30px;
    margin: 20px;
    margin-left:30px;
    align-items: center;
    z-index: 1200;
    transition:all .4s linear;
}
.tli{
  display:flex;
list-style-type: none;
gap:30px;
margin: 20px;
align-items: center;
}
.transaction-container{
  background-color:rgba(29,28,35,255);
  color:white;
  width:600px;
  margin-left:28%;
  margin-top:6%;
  border-radius: 20px;
} */
.tablecontainer{
  display:grid;
  /* grid-template-areas: 'left center right'; */
  grid-template-columns: repeat(4, 1fr);
   grid-template-rows: 30px; 
  grid-gap: 20px;
  margin:8px;
  /* width: 240px; */
  color:white;
 
}
.t1{
  border:1px solid black;
  width:90px;
  margin-top:10px;
  border-radius: 10px;
  
}
.t2{
  margin-top:10px ;
  width:100px;
  text-align: left;
}
.t3{
  margin-top:10px;
  text-align: right;
  /* width:100px; */
  /* grid-column:1/3; */
 grid-column:3/5;
}
.t4{
  grid-column:1/5;
  text-align: left;
  /* background-color: #624CED; */
}
.t7{
  border:1px solid black;
  border-radius: 10px;
  background-color: #624CED;
}

.maintable{
  width:480px;
  height:120px;
  background-color:rgba(29,28,35,255);
  left:50%;
  margin:auto;
  text-align:center;
  border-radius: 20px;
 
}
.dropdown{
  color:white;
  margin-left:30px;
  width:100px;
  text-align: center;
  
  border-radius:10px;
  background-color: #04AA6D;
}
.createProject{
  display:inline-block;
  width: 500px;
  height: 700px;
  margin-left:30%;
  margin-top:4%;
  background-color:rgba(29,28,35,255);
  color:white;
  border-radius: 10px;
}
.insidecreate{
  margin:40px;
  font-size: 20px;
}
.createinp{
  width: 250px;
  padding: 12px 20px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
.t33{
  
    margin-top:10px;
    text-align: center;
    width:50px;
    /* width:100px; */
    /* grid-column:1/3; */
   grid-column:3/5;
   border:1px solid black;
  border-radius: 10px;
  background-color: #624CED;
  
}